.championship-component {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  position: relative;
}

.user-details {
  width: 550px;
  height: auto;
  background-color: whitesmoke;
  margin-top: 100px;
  border: 1px solid #b7b7b7;
  border-radius: 7px;
  display: flex;
  flex-direction: column;
  align-items: center;

  img {
    width: 100px;
    height: 100px;
    object-fit: cover;
    border-radius: 50%;
    margin-top: -60px;
    border: 1px solid #b7b7b7;
    padding: 1px;
  }

  .name {
    font-weight: 600;
    font-family: system-ui;
  }

  .headline {
    font-family: system-ui;
    margin-top: -15px;
  }
}

.about-the-tournament {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  width: 95%;
}

.championship-vote-poll {
  display: flex;
  position: fixed;
  top: 40%;
  background: aquamarine;
  left: 16px;
  border: 1px solid red;
  flex-direction: column;
  align-items: flex-start;
  max-height: 400px;
  min-height: 200px;
}

.championship-vote-poll-unfolded {
  overflow-x: auto;
}

.championship-vote-poll-unfolded-user {
  display: flex;
  align-items: center;
  padding: 10px;
  height: 51px;
}

.championship-vote-poll-unfolded-user>img {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  object-fit: cover;
}

.championship-vote-poll-unfolded-user>h3 {
  padding: 10px;
}

.championship-participar {
  cursor: pointer;
}